doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
		title Astrum
		link(rel="stylesheet", href="./css/normalize.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
		link(rel="stylesheet", href="../css/index.css")
	body(class="wrap")

	header
		header
			h1 AstrumApp
			img(src="#{user.photo.path}", width="80")
			p @#{user.username}
			p permiso: #{user.permiso}
			p empresa: #{user.empresa_admin}
			
		h2 Bienvenido al dashboard de oficina

	section
		a(href="/dashboard/ordenes_trabajo") Ordenes de trabajo

	section
		a(href="/dashboard/usuarios") Usuarios

	section
		div
			a(href="/dashboard/perfil") Ver perfil
		div
			a(href="/logout") Salir

	section
		a(href="/dashboard/notificaciones") Notificaciones
	
	section
		a(href="/dashboard/mensajes") Mensajes

	section
		a(href="/dashboard/viewer-kml") Viewer KML
	section 
		a(href="/dashboard/usuarios/tracking/") Tracking de Usuarios

	section
		h3 Administrar Servicios
		a(href="/dashboard/servicios") Ver data Servicios
	
