.OrderDetail
	positien relative
	.OrderDetailModal
		position absolute
		width 100%
		top 0
		height 100vh
		background-color colorModal
		display flex
		.OrderContainModal
			width 40%
			height 100%
			min-width 450px
			margin 0 auto
			background-color blancoPrimary
			position relative
			.CloseModal
				position absolute
				top 5px
				right 5px