doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
		title Astrum
		style(type='text/css').
			html, body { height: 100%; margin: 0; padding: 0; }
			#map { 
				height: 80%; 
				width: 80%;
			}

		link(rel="stylesheet", href="./css/normalize.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
		link(rel="stylesheet", href="../../css/index.css")
	body(id="App_Container", class="wrap")
		header
			h1 AstrumApp
			img(src="../../#{user.photo.path}", width="80")
			p @#{user.username}
			
		section
			h3  Viewer KML
			div
				label Añadir un nuevo archivo kml
				form(id="FormMsg")
					input(type="file", id="file", name="file_kml", value="Añadir archivo KML")
					button Subir KML
		div(id="capture")
			h2 Lista de archivos KML

			label Ordenes de Trabajo - Marcadores
			input(type="checkbox", name="myCheckbox", checked)

			strong #{msg}
		section(class="ArticlesContainer")
					
		div(id="map")


		//-iframe(src="https://www.google.com/maps/d/embed?mid=1zWu1we77fXaH4tVqnEjnG6qIKWU", width="640", height="480")

script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.2.0.js")
script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.1.js")
script(type="text/javascript", src="../../js/gmaps/index.js")
script(type="text/javascript", src="../../js/gmaps/kml/list_orders/index.js")
script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCwgxTzYjPzybx9d2yiNzXWnHFag9dp6OY&callback=initMap&libraries=visualization')
	