.Containner
	display flex
	justify-content space between
	flex-wrap wrap
	&__left
		height 100%
		width 45%
		overflow-y auto
	&__right
		height 100%
		width 55%
		&--mapCanvas
			width 100%
			height 100%